extends index.pug
block eventsPlaceHolder
    center 
        h1=title
    table.table.table-striped
        thead
            tr
                th Name
                th Company
                th Event
                th Date
                th Details
        tbody
        each event in events
            tr
                td=event.eventName
                td=event.eventCode
                td=event.description
                td=event.startDate
                td
                    a.btn.btn-primary(href='/events/'+event.eventId) View
